.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f5f5f5;
  }
  
  .card {
    width: 515px; 
    height: 280px; 
    padding: 20px;
    background-color: #fff;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    margin: 10px 15px;
    padding: 12px 10px;
    border: none;
    border-radius: 32px;
    background-color: #BB0163;
    color: #fff;
    cursor: pointer;
    width: 100px;
    height: 52px;
  }

  .long-button{
    background-color: #BB0163;
    height: 72px;
    width:529px;
    color: #fff;
    border-radius: 32px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 35px;
    font-family: Roboto;
    font-weight: 200;
  }
  
  .icon-button{
    margin: 10px 15px;
    padding: 12px 10px;
    border: none;
    border-radius: 32px;
    background-color: #BB0163;
    color: #fff;
    cursor: pointer;
    width: 80px;
    height: 60px;
  }

  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .footer-container{
    width: 100%;
   margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
 .footerbar{
  position: relative;
  margin-top: 40%;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: white;
  z-index: 1;
  opacity: 1; 

 }

 .footercenter{
   display: flex;
  justify-content: center;
  align-items: center;
  
 }
  .navbar {
    height: 60px;
    background-color: #ffffff;
    position: relative;
  }
  

  .nav-elements{
    display: flex;
    flex: 2;
  }
  

  .nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  
  .nav-elements ul li:not(:last-child) {
    margin-right: 60px;
  }
  
  .nav-elements ul a {
    font-size: 16px;
    font-weight: 400;
    color: #2f234f;
    text-decoration: none;
  }
  
  .nav-elements ul a.active {
    color: #574c4c;
    font-weight: 500;
    position: relative;
  }
  
  .nav-elements ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #574c4c;
  }

  .tab-container {
    display: flex;
    justify-content: center;
    background-color: #EBF2FF;
    width: 515px;
    border-top-right-radius: 32px ;
    border-top-left-radius: 32px;
    height: 50px;
    padding: 20px;
  
  }
  
  .tab {
    cursor: pointer;
    padding: 10px 20px;
    background-color:#EBF2FF;
    margin-right: 10px;
    border-radius: 13px;

  }
  
  .tab.active {
    background-color: hsl(205, 84%, 60%);
  }

  .carousel {
    height: 70%;
    display: flex;
    align-items: center;
    width: 85%;

    }
    
  .carouselItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    
    
    }

    .cardcrypto {
      width: 240px;
      height: 321px;
      position: relative;
      padding: 25px;
      background-color: #fff;
      box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
      border-radius: 23px;
      transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
      cursor: pointer;
    }
    
    .cardcrypto:hover {
      transform: scale(1.05);
    }
    
    .containercrypto {
      width: 250px;
      height: 250px;
      position: relative;
      right: 10px;
      top: -50px;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: scale(0.7);
    }
    
    .cloud {
      width: 250px;
    }
    

    

    .sun {
      margin: 00px;
      width: 200px;
      height: 200px;
      background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
      background: linear-gradient(to right, #fcbb04, #fffc00);
      border-radius: 60px;
      display: inline;
      
    }
    
    .sunshine {
      animation: sunshines 2s infinite;
    }
    
    @keyframes sunshines {
      0% {
        transform: scale(1);
        opacity: 0.6;
      }
    
      100% {
        transform: scale(1.4);
        opacity: 0;
      }
    }
    
    @keyframes clouds {
      0% {
        transform: translateX(15px);
      }
    
      50% {
        transform: translateX(0px);
      }
    
      100% {
        transform: translateX(15px);
      }
    }

    
    .temp {
      position: absolute;
      left: 25px;
      bottom: 12px;
      font-weight: 700;
      font-size: 40px;
      line-height: 77px;
      color: rgba(87, 77, 51, 1);
    }
    
    .temp-scale {
      width: 90%;
      height: 50px;
      position: absolute;
      right: 11px;
      bottom: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.06);
      border-radius: 9px;
    }
    
  .temp-scale span {
  font-weight: 700;
  font-size: 30px;
  line-height: 134.49%;
}

.temp-scale span.positive {
  color: green;
}

.temp-scale span.negative {
  color: red;
}

.positive{
  color: green;
}

.negative{
  color: red;

}
  
    .chart-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }

    .chart-wrapper {
      width: 90%;
      max-width: 800px;
      height: 1000px;
      margin-top: 20px;
    }
    
.green {
  color: green;
}

.red {
  color: red;
}

.carousel-card-details{
  text-align: center;
font-size: 37px;
font-family: Roboto;
font-weight: 500;
 
}

.carousel-background{
  background-color:#0D0D2B;
  width: 100%;
  height: 100%;
}
.image-style{
  width:30px;
  height:30px;

}

.left-right-style{
  width: 50px;
  height: 50px;
}

.search-icon{
  width: 40px;
  height: 40px;

}
.carousel-page-content{
  justify-content: center;
  line-height: 500%;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  padding-top: 150px;
}

.logo{
  width:150px;
  height:100px;
  display: flex;
  flex: 1;
}

.logo-footer{
  margin-left: 80px;
}

.Container{
  width: 100vw; 
  height: 100vh;  
  height: 100vh; /* Set the desired height */
  overflow-y: auto; 
}

.landing-page{
  padding-top: 200px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  

}

.landing-page > * {
  margin-bottom: 20px; /* Adjust this value to set the desired spacing */
}
.landing-page-title{
  font-size: 80px;
  font-family: roboto;
  font-weight: 800;
  color:#BB0163;

}

.landing-page-paragraph{
  font-size: 35px;
  font-family: roboto;
  color:#7A7A7A;

}
.content-title{
  font-size: 50px;
  font-family: roboto;
  font-weight: 600;
  color:#FF78BF;
}

.content-paragraph{
  font-size: 32px;
  font-family: roboto;
  color:#fff;
  font-weight: 400;
}

.LandingPage{
  width: 100vw;
  height: 100vh;
  background-image: url("../Assets/Header.svg");
  background-size: cover;
  background-position: center;
}

.FeaturePageBackground{
  width: 100vw;
  height: 100vh;
  background-image: url("../Assets/ourfeatues.svg");
  background-size: cover;
  background-position: center;
}

.feature-page {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 65%;
  text-align: left;
}

.feature-page > * {
  margin-bottom: 10px; /* Adjust this value to set the desired spacing */
}

.feature-page-paragraph{
  font-size: 32px;
  font-family: roboto;
  color:#fff;
  font-weight: 800;

}

.feature-page-paragraph-sub{
  font-size: 26px;
  font-family: roboto;
  color:#fff;
  margin-bottom: 80px;
}
.scrollable-container {
  height: 100vh; /* Set the desired height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.card-table{
  width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
}

.CryptotablePageBackground{
  width: 100vw;
  height: 100vh;
  background-image: url("../Assets/tradesecurely.svg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.containerStyle{
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
    opacity: 1; 

  
}

.cardStyle{
  border-radius:15px;
  box-shadow: 0 0 10px rgba(0, 0, 0);
  padding: 20px;
  opacity: 1; 
  position: relative;
  background-color: rgba(255, 255, 255, 0.9); 
 
  z-index: 1;
}



.tableStyle {
  border-spacing: 10px;
  width: 100%;
  opacity: 1; 


}

.thStyle {
  padding: 10px;
  background-color: #f2f2f2;
  
}

.tdStyle {
  padding: 20px;
}

.explorecrypto-page{
 justify-content: center;
 align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.explorecrypto-page-title{
  font-size: 50px;
  font-family: roboto;
  font-weight: 800;
  color:#ffffff;

}

.explorecrypto-page-paragraph{
  font-size: 32px;
  font-family: roboto;
  color:#7A7A7A;

}

.social-icons {
  display: flex;
  justify-content: flex-end; 
  padding-right: 100px;
  flex:1;
  /* Add this line to push the icons to the left */
}

.footer-bottom-text{
  display: flex;
  justify-content: center;
}

.error-title{
  font-size: 35px;
  font-family: Roboto;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal {
  position: fixed;
  width: 600px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;


}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background color */
  z-index: 9999; /* Set a higher z-index value */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.coindetails-page{
  display: flex;
  flex-direction: row;
  background-color: #F9FAFD;
  width: 100%;
  height: 141px;

}

coindetails-page-title span{
  font-weight: 700;
  font-size: 30px;
}
.coindetails-image{
  display: flex;
  flex: 1;
}


.coindetails-title{
  display: flex;
  flex: 3;
  flex-direction: column;
  font-size: 40px;
  font-weight: 500;
  padding: 2%;
  
}
.coindetails-price{
  display: flex;
  flex: 2;
  flex-direction: column;
  margin-top: 2.5%;
  
}
.coindetails-price-content{
  font-size: 27px;
  font-weight: 800;

}

.coindetails-symbol{
  font-size: 25px;
  color: #7A7A7A;;
  font-weight: 300;
  padding: 2%;
}

.card-livechart{
  background-color:#f9f9f9;
  border-radius: 32px;
  width:1500px;
  height: 500px;
  margin: 5%;
}


.coindetails-percentage{
  display: flex;
  flex: 2;
  flex-direction: column;
  margin-top: 2%;
}

.vl {
  border-left: 6px solid #E7EAEE;
  height: 60px;
  position: relative;
  margin-top:2%;
  margin-right: 10px;
}