.page {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #f5f5f5;
}

  
  .card {
    width: 515px; 
    height: 280px; 
    padding: 20px;
    background-color: #fff;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    margin: 10px 15px;
    padding: 12px 10px;
    border: none;
    border-radius: 32px;
    background-color: #BB0163;
    color: #fff;
    cursor: pointer;
    width: 120px;
    height: 52px;
  }
  .details-buttonchart {
    margin: 10px 15px;
    padding: 12px 10px;
    border: none;
    border-radius: 32px;
    background-color: #BB0163;
    color: #fff;
    cursor: pointer;
    width: 200px;
    height: 52px;
  }


.card {
  width: 515px;
  padding: 20px;
  background-color: #fff;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}


.form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin: 10px 15px;
  padding: 12px 10px;
  border: none;
  border-radius: 32px;
  background-color: #bb0163;
  color: #fff;
  cursor: pointer;
  width: 100px;
  height: 52px;
}

.long-button {
  background-color: #bb0163;
  height: 72px;
  width: 529px;
  color: #fff;
  border-radius: 32px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 35px;
  font-family: Roboto;
  font-weight: 200;
}

.form-button {
  margin: 10px 15px;
  padding: 12px 10px;
  border: none;
  border-radius: 32px;
  background-color: #bb0163;
  color: #fff;
  cursor: pointer;
  width: 150px;
  height: 52px;
}

.icon-button {
  margin: 10px 15px;
  padding: 12px 10px;
  border: none;
  border-radius: 32px;
  background-color: #bb0163;
  color: #fff;
  cursor: pointer;
  width: 80px;
  height: 60px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer-container {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


  .container {
    max-width: 1100px;
    margin: 0 20px;
    padding: 0 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    flex:1;
  }

  .footer-container{
    /* width: 100%; */
   margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
 .footerbar{
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  z-index: 1;
  opacity: 1;
}

.footercenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  height: 60px;
  background-color: #ffffff;
  position: relative;
}


.nav-elements {
  display: flex;
  flex: 2;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

.tab-container {
  display: flex;
  justify-content: space-around;
  background-color: #ebf2ff;
  width: 515px;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  padding: 20px;
}

.tab {
  cursor: pointer;
  background-color: #ebf2ff;
  border-radius: 13px;
  font-size: 19px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #6c7072;
}

.tab.active {
  display: flex;
  font-size: 19px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #6c7072;
}

.carousel {
  height: 70%;
  display: flex;
  align-items: center;
  width: 85%;
}

.carouselItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.cardcrypto {
  width: 240px;
  height: 321px;
  position: relative;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01),
    0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09),
    0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

.cardcrypto:hover {
  transform: scale(1.05);
}

.containercrypto {
  width: 250px;
  height: 250px;
  position: relative;
  right: 10px;
  top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.7);
}

.cloud {
  width: 250px;
}

.sun {
  margin: 00px;
  width: 200px;
  height: 200px;
  background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
  background: linear-gradient(to right, #fcbb04, #fffc00);
  border-radius: 60px;
  display: inline;
}

.sunshine {
  animation: sunshines 2s infinite;
}



  .nav-elements{
    display: flex;
    flex: 1;
    margin-left: 400px;
    margin-top: 20px;
    
  }
  
.nav-signin{
  display: flex;
  flex: 1.0;
  margin-left: 300px;
 
}
  .nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  
  .nav-elements ul li{
    margin-right: 60px;
    margin-top: 20px;
  }
  
  .nav-elements ul a {
    font-size: 16px;
    font-weight: 400;
    color: #2f234f;
    text-decoration: none;
  }
  
  .nav-elements ul a.active {
    color: #574c4c;
    font-weight: 500;
    position: relative;

  }

  


@keyframes clouds {
  0% {
    transform: translateX(15px);
  }

  50% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(15px);
  }
}

.temp {
  position: absolute;
  left: 25px;
  bottom: 12px;
  font-weight: 700;
  font-size: 40px;
  line-height: 77px;
  color: rgba(87, 77, 51, 1);
}

.temp-scale {
  width: 90%;
  height: 50px;
  position: absolute;
  right: 11px;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 9px;
}

.temp-scale span {
  font-weight: 700;
  font-size: 30px;
  line-height: 134.49%;
}

.temp-scale span.positive {
  color: green;
}

.temp-scale span.negative {
  color: red;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.chart-wrapper {
  width: 90%;
  max-width: 800px;
  height: 1000px;
  margin-top: 20px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.carousel-card-details {
  text-align: center;
  font-size: 37px;
  font-family: Roboto;
  font-weight: 500;
}

.carousel-background {
  background-color: #0d0d2b;
  width: 100%;
  height: 100%;
}
.image-style {
  width: 30px;
  height: 30px;
}

.left-right-style {
  width: 50px;
  height: 50px;
}

.search-icon {
  width: 40px;
  height: 40px;
}
.carousel-page-content {
  justify-content: center;
  line-height: 500%;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  padding-top: 150px;
}


.logo{
  width:140px;
  height:80px;
  display: flex;
  flex: 1;
  margin-right: 200px;
  
}

.logo-footer {
  margin-left: 80px;
}

.Container {
  width: 100vw;
  height: 100vh;
  height: 100vh; /* Set the desired height */
  overflow-y: auto;
}

.landing-page {
  padding-top: 200px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.landing-page > * {
  margin-bottom: 20px; /* Adjust this value to set the desired spacing */
}
.landing-page-title {
  font-size: 80px;
  font-family: roboto;
  font-weight: 800;
  color:#BB0163;
  padding-bottom: 20px;
}

.landing-page-paragraph {
  font-size: 35px;
  font-family: roboto;
  color:#7A7A7A;
  margin: 10px;

}

.staying-page-title{
  font-size: 65px;
  font-family: roboto;
  font-weight: 800;
  color:#BB0163;

}

.content-title{
  font-size: 50px;
  font-family: roboto;
  font-weight: 600;
  color: #ff78bf;
}

.content-paragraph {
  font-size: 32px;
  font-family: roboto;
  color: #fff;
  font-weight: 400;
}

.LandingPage {
  width: 100vw;
  height: 100vh;
  background-image: url("../Assets/Header.svg");
  background-size: cover;
  background-position: center;
}



/* ABOUT PAGE */
.about-page-container {
  background-color: #F9FAFD;
}

.about-ilustration{
  width: 80vw;
  height: 100vh;
  background-image: url("../Assets/About\ Illustration.svg");
  background-size: 45rem;
  background-repeat: no-repeat;
  background-position: right;
  margin: auto;
  line-height: 3.5rem;
}

.about-copywriting{
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  width: 47%;
}

.ring-background {
  position: absolute;
}

.team-section-header {
  position: absolute;
  font-size: 70px;
  padding-top: 150px;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
}

.team-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 50%;
  border-top-left-radius: 70%;
  background-color: #0D0D2B;
  height: 130vh;
  border-top-right-radius: 51em 12em;
    border-top-left-radius: 69em 48em;
}

.team-profile {
  color: white;
  font-size: 50 ;
}

.linkedinLogo {
  padding: 1.3rem;
}
/* ABOUT PAGE END */


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  grid-template-rows: 1fr 1fr; /* Two rows with equal height */
}

.grid-item {
padding: 20px;
}

.grid-item:nth-child(odd) {
  padding-top: 108px;
}


.team-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.team-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.team-card:hover .team-card-inner {
  transform: rotateY(180deg);
}

.team-card-front, .team-card-back {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10%;
}

.team-card-front {
  background-color: #fff;
  color: black;
  height: 36vh;
  padding-top: 3rem;
}

.team-card-front-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.team-card-back {
  background-color: #fff;
  color: black;
  transform: rotateY(180deg);
  height: 36vh;
  padding-top: 3rem;
}

.team-member{
  margin: 0;
  color: #000;
  font-size: 40px;
  text-align: center;
  line-height: 70px;
}

.team-position{
  margin: 0;
  color: #000;
  font-size: 20px;
  text-align: center;
}

.team-info {
  margin: 0;
  color: #000;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.team-info p {
  margin: 0;
}



/* About page */


.FeaturePageBackground{
  width: 100vw;
  height: 100vh;
  background-image: url("../Assets/ourfeatues.svg");
  background-size: cover;
  background-position: center;
}

.feature-page {
  padding-top: 290px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 65%;
  text-align: left;
}

.feature-page > * {
  margin-bottom: 30px; /* Adjust this value to set the desired spacing */
}

.feature-page-paragraph {
  font-size: 32px;
  font-family: roboto;
  color: #fff;
  font-weight: 800;

  margin-top: 2%;

}

.feature-page-paragraph-sub {
  font-size: 26px;
  font-family: roboto;
  color: #fff;
  margin-bottom: 80px;
}
.scrollable-container {
  height: 100vh; /* Set the desired height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.card-table {
  width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
}

.StayInformedPageBackground{
  width: 100vw;
  height: 100vh;
  background-image: url("../Assets/page3stayinformed.svg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.containerStyle {
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
  opacity: 1;
}

.cardStyle {
  border-radius: 15px;
  margin: 0px 8%;
  opacity: 1;
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
}

.tableStyle {
  border-spacing: 20px;
  width: 100%;
  opacity: 1;
}

.thStyle {
  font-family: Manrope;
  color: #64748b;
  text-align: left;
}

.tdStyle {
  font-family: Roboto;
}

.tableimage-fullname {
  flex-direction: row;
  display: flex;
}

.explorecrypto-page {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 300px;
}

.explorecrypto-page-title {
  font-size: 50px;
  font-family: roboto;
  font-weight: 800;
  color: #ffffff;
}

.explorecrypto-page-paragraph {
  font-size: 32px;
  font-family: roboto;
  color: #7a7a7a;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
  flex: 1;
  /* Add this line to push the icons to the left */
}

.footer-bottom-text {
  display: flex;
  justify-content: center;
}

.error-title {
  font-size: 35px;
  font-family: Roboto;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  width: 600px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  max-height: 80vh; /* Set a maximum height for the modal */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Add a semi-transparent background color */
  z-index: 9999; /* Set a higher z-index value */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coindetails-page {
  display: flex;
  flex-direction: row;
  background-color: #f9fafd;
  width: 100%;
  height: 141px;
}

.coindetails-page-title {
  font-weight: 700;
  font-size: 47px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 9%;
  font-family: Roboto;
}
.coindetails-image {
  display: flex;
  flex: 1;
}

.coindetails-title {
  display: flex;
  flex: 3;
  flex-direction: column;
  font-size: 40px;
  font-weight: 500;
  padding: 2%;
  font-family: Roboto;
}
.coindetails-price {
  display: flex;
  flex: 2;
  flex-direction: column;
  margin-top: 2.5%;
}
.coindetails-price-content {
  font-size: 27px;
  font-weight: 800;
}

.coindetails-symbol {
  font-size: 25px;
  color: #7a7a7a;
  font-weight: 300;
  padding: 2%;
  font-family: Roboto;
}

.coindetails-symbol2 {
  font-size: 16px;
  color: black;
  font-weight: 300;
  padding: 2%;
  font-family: Roboto;
}
.markettable-symbol {
  color: #979797;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  padding-top: 2%;
}


.card-livechart{
  background-color:#fbf5f5;
  border-radius: 32px;
  flex: 2;
  margin: 5%;
  display: flex;
  flex-direction: row;
  width: 900px;
}

.coindetails-percentage {
  display: flex;
  flex: 2;
  flex-direction: column;
  margin-top: 2%;
}

.vl {
  border-left: 6px solid #e7eaee;
  height: 60px;
  position: relative;
  margin-top: 2%;
  margin-right: 10px;
}

.market-search {
  display: flex;
  flex-direction: row;

  flex: 1;
}
.market-tabs {
  display: flex;
  flex: 1;
}
.button-tabs {
  width: 100px;
  height: 50px;
  background-color: #f5f5f5;
  font-size: 16px;
  font-family: Roboto;
  color: #7a7a7a;
}
.password-input {
  display: flex;

  width: 100%;
}
.submit-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.form {
  margin-top: 35px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 5px;
}
.card-style-cryptotable {
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0);
  padding: 20px;
  opacity: 1;
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.pagination-pills {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.error-message {
  color: red;
  font-size: 15px;
  margin: 1px;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #f4ad42, 0 0 20px #f4ad42, 0 0 40px #f4ad42,
      0 0 60px #f4ad42;
  }
  100% {
    box-shadow: 0 0 5px #f4ad42, 0 0 20px #f4ad42, 0 0 40px #f4ad42,
      0 0 80px #f4ad42;
  }
}

.tableimage-fullname:hover {
  animation: glowing 1s infinite;
}

.dropdown {
  margin-bottom: 10px;
}

.dropdown-header {
  cursor: pointer;
  background-color: #ffffff;
  color: #333;
  border-radius: 32px;
  width: 800px;
  height: 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 30px;
  padding: 3% 2% 0%;
  position: relative; /* Add relative positioning */
  overflow: hidden; /* Hide content overflow */
  transition: height 0.4s ease-in-out;
}

.dropdown.open .dropdown-header {
  height: 120px;
}

.dropdown-content {
  margin-top: 10px;
  min-width: 800px;
  background-color: #f9fafd;
  border: 1px solid #ddd;
  border-radius: 0 0 16px 16px;
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.2);
  height: 100px;
  justify-content: flex-start;
  display: flex;
  align-items: flex-start;
  font-family: Roboto;
  font-size: 30px;
  padding: 3% 2% 0%;
  transition: height 0.4s ease-in-out;
  opacity: 0; /* Start with opacity 0 */
}

.dropdown.open .dropdown-content {
  opacity: 1; /* Set opacity to 1 when open */
}

.arrow {
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out; /* Add transition for smooth animation */
  color: #7a7a7a;
}

.arrow.up {
  transform: translateY(-50%) rotate(180deg);
}

.help-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7% 10% 0;
  flex-direction: column;
}

.collapsible .content {
  padding: 6px;
  background-color: rgb(240, 240, 240);
  font-size: 14px;
}
.collapsible .header {
  background-color: rgb(200, 200, 200);
  padding: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(220, 220, 220);
}
.collapsible .header .title {
  font-weight: 400;
}
.preferences label {
  display: block;
  padding-bottom: 4px;
}


.favorite-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.favorite-icon {
  color: gold;
}

.non-favorite-icon {
  color: gray;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 0fr); 
  column-gap: 80px;
  row-gap: 40px; 
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}


.card-news{
  display: flex;
  flex-direction: row;
      width: 470px; 
    height: 300px; 
    padding: 4%;
    background-color: #fff;
   border-radius: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-image{

display: flex;
width: 180px;
height: 200px;
border-radius: 35px;
flex: 1;
}


.logo-image{
  width: 50px;
  height: 50px;
  border-radius:50% ;
  margin:20% 0% 5%; 
  
}
.source-logo-section{
  display: flex;
  flex-direction: row;
  margin: 2%;
}

.news-source{
  flex: 0.5;
  font-family: Roboto;
  color: #6C7072;
  font-size: 20;
  margin:30% 10% 0%; 
  font-weight: 600;

}

.news-column-div{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 4%;


}

.news-content{
  flex: 2;
  display: flex;
  width: 100px;
  height: 100px;
  flex-direction: column;
  margin: 3%;
  font-family: Roboto;
  margin-top: 0px;
}

.NewsPage{
  width: 100vw;
  height: 100vh;
  background-image: url("../Assets/newsbackground.svg");
  background-size: cover;
  background-position: center;
  overflow-y: auto;
}
.load-more-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes progressBarHighlight {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.button {
  border: 1px solid rgb(0, 17, 255);
  border-radius: 3px;
  width: 250px;
  height: 60px;
  display: block;
  background: linear-gradient(to right, rgb(150, 150, 235) 50%, rgb(172, 5, 255) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.button:hover {
  background-position: left bottom;
}

.text {
  text-align: center;
  margin: 5%;
  font-size: 20px;
  line-height: 30px; 
  font-family: Roboto;
  font-weight: 600;
  color: rgb(255, 255, 255);
  transition: all .6s ease-out;
  display: block;
}

.text:hover {
  color: white;  
}

.card-container-transition {
  transition: opacity 5.0s ease-in-out;
}

.card-hover:hover {
  /* Apply your desired hover styles */
  transform: scale(1.01);
  box-shadow: 5px 5px 10px 10px #FF78BF;
border-radius: 32px;
}

.button-viewmore{
  border: none;
  border-radius: 32px;
  background-color: #FF78BF;
  color: #fff;
  cursor: pointer;
  width: 265px;
  height: 65px;
  font-size: 30px;
  font-weight: 800;
}

.CryptoversebackgroudPage{
  background-color: #0D0D2B;
  width: 100vw;
  height: 50vh;

}
.cryptoverse-paragraph{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cryptoverse-title{
  color: white;
  font-size: 50px;
  font-weight: 600;
  font-family: roboto;
  margin-top: 10%
}

.cryptoverse-content{
  color: #E0E0E0;
  font-size: 30px;
  font-family: roboto;
  margin-top: 4%;
}

.chartdetails-container{
  width: 400px; 
  height: 500px; 

  background-color: #fff;
border-radius: 32px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin-top: 4%;
}

.realtimechart-div{
  display: flex;
  flex: 2;
}

.container-chart{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.chartdetails-container {
  font-size: 16px;
}

.chartdetails-title {
  text-align: center;
  font-weight: 200;
}

.chartdetails-line {
  margin: 30px 20px;
  
}

.buttonchartdetails{
  display: flex;
  flex-direction: column;
  margin-top: 35%;
}

.buttonchartdetailstext{
  font-size: 15px;
  color: #64748B;
  font-weight: 500;
  margin:0px 20px;
}




